<%- include('../../partials/header.ejs') %>
<style>
  .role-label {
    background-color: #ffcccc;
  }

  .status-label {
    background-color: #ccffcc;
  }
</style>
<div class="container mt-5 p-3">
  <div class="row mt-5 mb-3">
    <div class="col-md-3">
      <a href="/employee/add" class="btn btn-primary">Tạo nhân viên</a>
    </div>
    <div class="col-md-6">
      <h2 class="text-center flex-grow-1">Danh sách nhân viên</h2>
    </div>
    <div class="col-md-3">
      <div class="d-flex">
        <input
          id="searchInput"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          oninput="searchTable()"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          onclick="searchTable()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-hover align-middle text-center">
    <thead class="thead-light">
      <tr class="table table-secondary">
        <th class="text-center">STT</th>
        <th class="text-center">Avatar</th>
        <th class="text-center">Họ tên</th>
        <th class="text-center">Email</th>
        <th class="text-center">Số điện thoại</th>
        <th class="text-center">Hành động</th>
        <th class="text-center">Trạng thái</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      <% for(var i=0; i < staffData.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <img
            src="http://139.180.132.97:3000/images/<%= staffData[i].image %>"
            alt="Avatar"
            class="rounded-3"
            width="70"
            height="70"
            onerror="handleImageError(this);"
          />
        </td>
        <td>
          <a
            class="nav-link text-primary"
            href="/employee/details/<%= staffData[i]._id %>"
          >
            <%= staffData[i].name %>
          </a>
        </td>
        <td><%= staffData[i].email %></td>
        <td><%= staffData[i].number_phone %></td>
        <td class="text-center">
          <div
            class="form-check form-switch form-check-reverse d-flex justify-content-center"
          >
            <input class="form-check-input status-toggle" type="checkbox"
            data-id="<%= staffData[i]._id %>" <%= staffData[i].status ===
            'active' ? 'checked' : '' %> />
            <label class="form-check-label" for="toggle"></label>
          </div>
        </td>
        <td class="text-center">
          <% if (staffData[i].status === 'active') { %>
          <span
            id="status-<%= staffData[i]._id %>"
            class="status-label rounded-3 text-success border border-success ps-3 pe-3 pt-1 pb-1"
          >
            Kích hoạt
          </span>
          <% } else if (staffData[i].status === 'inactive') { %>
          <span
            id="status-<%= staffData[i]._id %>"
            class="role-label rounded-3 text-danger border border-danger ps-3 pe-3 pt-1 pb-1"
          >
            Không kích hoạt
          </span>
          <% } %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<!-- Nếu ảnh bị lỗi không load được, thay thế bằng ảnh này -->
<script>
  function handleImageError(image) {
    image.onerror = null;
    image.src = "/images/avatar.jpg";
  }
</script>
<!-- Search table -->
<script>
  function searchTable() {
    const input = document.getElementById("searchInput").value.toLowerCase();
    const tableBody = document.getElementById("tableBody");
    const rows = tableBody.getElementsByTagName("tr");

    for (let i = 0; i < rows.length; i++) {
      const row = rows[i];
      const cells = row.getElementsByTagName("td");
      let match = false;

      for (let j = 0; j < cells.length; j++) {
        if (cells[j].innerText.toLowerCase().indexOf(input) > -1) {
          match = true;
          break;
        }
      }

      if (match) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    }
  }
</script>
<!-- Toggle checkbox -->
<script>
  $(document).ready(function () {
    let token = "";
    // Get Token
    $.ajax({
      url: "/token/getToken",
      type: "GET",
      async: false, // đồng bộ
      success: function (data) {
        token = data.token;
      },
      error: function (error) {
        console.log(error);
      },
    });

    $(".status-toggle").change(function () {
      const id = $(this).data("id");
      const status = $(this).is(":checked") ? "active" : "inactive";

      // Update status
      $.ajax({
        url: `http://139.180.132.97:3000/users/staff/status/${id}`,
        type: "PUT",
        data: status,
        headers: {
          Authorization: `Bearer ${token}`,
        },
        success: function (data) {
          if (data.status === "active") {
            $(`#status-${id}`).text("Kích hoạt");
            $(`#status-${id}`).removeClass(
              "text-danger border-danger role-label"
            );
            $(`#status-${id}`).addClass(
              "status-label rounded-3 text-success border border-success ps-3 pe-3 pt-1 pb-1"
            );
          } else {
            $(`#status-${id}`).text("Không kích hoạt");
            $(`#status-${id}`).removeClass(
              "text-success border-success status-label"
            );
            $(`#status-${id}`).addClass(
              "role-label rounded-3 text-danger border border-danger ps-3 pe-3 pt-1 pb-1"
            );
          }
        },
        error: function (error) {
          console.log(error);
          alert("Đã có lỗi gì đó sảy ra!");
        },
      });
    });
  });
</script>
