<%- include('../../partials/header.ejs') %>
<style>
  .role-label {
    background-color: #ffcccc;
  }
  .status-label {
    background-color: #ccffcc;
  }
</style>
<div class="container mt-5 p-3">
  <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
    <button id="refresh" class="btn btn-primary">Refresh</button>
    <h2 class="text-center flex-grow-1">Danh sách khách hàng</h2>
  </div>
  <table class="table table-bordered table-hover align-middle text-center">
    <thead class="thead-light">
      <tr class="table table-secondary">
        <th class="text-center">STT</th>
        <th class="text-center">Avatar</th>
        <th class="text-center">Họ tên</th>
        <th class="text-center">Email</th>
        <th class="text-center">Số điện thoại</th>
        <th class="text-center">Quyền</th>
        <th class="text-center">Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < userData.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <img
            src="http://139.180.132.97:3000/images/<%= userData[i].image %>"
            alt="Avatar"
            class="rounded-3"
            width="70"
            height="70"
            onerror="handleImageError(this);"
          />
        </td>
        <td><%= userData[i].name %></td>
        <td><%= userData[i].email %></td>
        <td><%= userData[i].number_phone %></td>
        <td class="text-center">
          <span
            class="role-label rounded-2 text-danger border border-danger ps-3 pe-3 pt-1 pb-1"
            ><%= userData[i].role %></span
          >
        </td>
        <td class="text-center">
          <span
            class="status-label border border-success rounded-2 text-success ps-3 pe-3 pt-1 pb-1"
            ><%= userData[i].status %></span
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<script>
  document
    .getElementById("refresh")
    .addEventListener("click", async function () {
      window.location.href = "/customer/list";
    });
</script>
<!-- Nếu ảnh bị lỗi không load được, thay thế bằng ảnh này -->
<script>
  function handleImageError(image) {
    image.onerror = null;
    image.src = "/images/avatar.jpg";
  }
</script>
