<%- include('../../partials/header.ejs') %>

<div class="container mt-5" style="padding: 3%;">
  <h2 class="text-center">List of Directors</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Stt</th>
        <th>Name</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% directors.forEach(director => { %>
      <tr>
        <td><%= director._id %></td>
        <td><%= director.name %></td>
        <td><img src="http://139.180.132.97:3000/images/<%= director.image %>" width="50"></td>
        <td>
          <button class="btn btn-info" onclick="editDirector('<%= director._id %>')">Edit</button>
          <button class="btn btn-danger" onclick="deleteDirector('<%= director._id %>')">Delete</button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<script>
  async function deleteDirector(directorId) {
    if (confirm('Bạn có chắc chắn muốn xoá đạo diễn này?')) {
      try {
        const response = await fetch(`/movie/directors/${directorId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (response.ok) {
          alert('Xoá đạo diễn thành công!');
          window.location.reload();
        } else {
          alert('Đã xảy ra lỗi khi xoá đạo diễn.');
        }
      } catch (error) {
        alert('Đã xảy ra lỗi khi xoá đạo diễn.');
        console.error(error);
      }
    }
  }
</script>
