<%- include('../partials/header.ejs') %>

<div class="container mt-5" style="padding: 3%">
  <h2 class="text-center mb-5">List Discounts</h2>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: aquamarine">
        <th>Status</th>
        <th>Name</th>
        <th>Percent</th>
        <th>Code</th>
        <th>Type</th>
        <th>Day Start</th>
        <th>Day End</th>
        <th>Cinema</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% discounts.getall.forEach((discount, index) => { %>
        <tr>
          <td>
            <div class="form-check form-switch form-check-reverse">
              <input
                class="form-check-input status-toggle"
                type="checkbox"
                id="toggle<%= index %>"
                data-id="<%= discount._id %>"
                <%= discount.status ? 'checked' : '' %>
              />
              <label class="form-check-label" for="toggle<%= index %>"></label>
            </div>
          </td>
          <td><%= discount.name %></td>
          <td><%= discount.percent %></td>
          <td><%= discount.code %></td>
          <td><%= discount.type %></td>
          <td><%= discount.dayStart %></td>
          <td><%= discount.dayEnd %></td>
          <td>
            <% discount.cinema.forEach(cinema => { %>
              <div><%= cinema.name %></div>
            <% }); %>
          </td>
          <td><img src="http://139.180.132.97:3000/images/<%= discount.image %>" alt="Image" width="50" /></td>
          <td>
            <a href="/discount/edit/<%= discount._id %>" class="btn btn-info">
              <i class="anticon anticon-edit"></i> Edit
            </a>
            <button class="btn btn-danger" onclick="deleteDiscount('<%= discount._id %>')">Xoá</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<script>
  async function deleteDiscount(id) {
    if (confirm('Bạn có chắc chắn muốn xoá?')) {
      try {
        const response = await fetch(`/discount/delete/${id}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (response.ok) {
          alert('Xoá thành công!');
          window.location.reload();
        } else {
          alert('Đã xảy ra lỗi khi xoá.');
        }
      } catch (error) {
        alert('Đã xảy ra lỗi khi xoá.');
        console.error(error);
      }
    }
  }

  $(function() {
    $('.status-toggle').change(function() {
      var discountId = $(this).data('id');
      var status = $(this).prop('checked');

      $.ajax({
        url: '/discount/updateStatus/' + discountId,
        method: 'PUT',
        data: { status: status },
        success: function(response) {
          console.log(response); // Xử lý phản hồi từ server (nếu cần)
        },
        error: function(error) {
          console.error('Error updating status:', error);
        }
      });
    });

    // Kích hoạt Bootstrap Toggle Switch bằng JavaScript
    $('.status-toggle').bootstrapToggle({
      size: 'small',
      on: 'On',
      off: 'Off',
      onstyle: 'success',
      offstyle: 'danger'
    });
  });
</script>
