<%- include('../partials/header.ejs') %>

<div class="container mt-5" style="padding: 3%;">
  <h2 class="text-center">Danh Sách Phòng</h2>
  
      <table class="table table-bordered table-hover align-middle" >
        <thead >
          <tr class="table table-secondary" >
        <th class="text-center">Stt</th>
        <th class="text-center">Tên</th>
        <th class="text-center">Phim</th>
        <th class="text-center">Thời Gian Chiếu </th>
        <th class="text-center">Rạp</th>
        <th class="text-center">Hành Động</th>
      </tr>
    </thead>
    <tbody id="roomsTableBody">
      <% rooms.forEach((room, index) => { %>
        <tr>
          <td class="text-center"><%= index + 1 %></td>
          <td class="text-center"><%= room.name %></td>
          
          <td class="text-center"><%= room.movie.name %></td>        
          <td class="text-center">
            <ul>
              <% room.showtime.forEach(showtime => { %>
                <% Object.values(showtime.time).forEach(timeObj => { %>
                  <li><%= showtime.date.substring(0, 10)%> - <%= timeObj.time %></li>
                <% }); %>
              <% }); %>
            </ul>
            
            
          </td>
          <td class="text-center"><%= room.cinema.name %></td>
          
          <td class="text-center">
            <button
            class="btn btn-info"
            data-room="<%= JSON.stringify(room) %>"
            onclick="editRoom(this)"
          >
            Sửa
          </button>
            <button class="btn btn-danger" onclick="deleteRoom('<%= room._id %>')">Xoá</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<div
  class="modal fade"
  id="editRoomModal"
  tabindex="-1"
  aria-labelledby="editRoomModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editRoomModalLabel">Sửa Phòng</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Đóng"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editRoomForm">
          <input type="hidden" id="roomId" name="roomId" />
          <div class="mb-3">
            <label for="cinemaName" class="form-label">Tên</label>
            <input
              type="text"
              class="form-control"
              id="cinemaName"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="cinemaAddress" class="form-label">Địa chỉ</label>
            <input
              type="text"
              class="form-control"
              id="cinemaAddress"
              name="address"
              required
            />
          </div>
          <div class="mb-3">
            <label for="cinemaHotline" class="form-label">Hotline</label>
            <input
              type="text"
              class="form-control"
              id="cinemaHotline"
              name="hotline"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="submitEditCinema()"
        >
          Lưu thay đổi
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  async function deleteRoom(roomId) {
    if (confirm('Bạn có chắc chắn muốn xoá?')) {
      try {
        const response = await fetch(`/cinema/deleteRoom/${roomId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (response.ok) {
          alert('Xoá thành công!');
          window.location.reload();
        } else {
          alert('Đã xảy ra lỗi khi xoá.');
        }
      } catch (error) {
        alert('Đã xảy ra lỗi khi xoá.');
        console.error(error);
      }
    }
  }

  function editCinema(button) {
    const cinema = JSON.parse(button.getAttribute("data-cinema"));
    document.getElementById("cinemaId").value = cinema._id;
    document.getElementById("cinemaName").value = cinema.name;
    document.getElementById("cinemaAddress").value = cinema.address;
    document.getElementById("cinemaHotline").value = cinema.hotline;

    // Hiện modal
    var myModal = new bootstrap.Modal(
      document.getElementById("editCinemaModal")
    );
    myModal.show();
  }

  async function submitEditCinema() {
    const cinemaId = document.getElementById("cinemaId").value;
    const formData = new FormData(document.getElementById("editCinemaForm"));

    try {
      const response = await fetch(`/cinema/updateCinema/${cinemaId}`, {
        method: "PUT",
        body: formData,
      });

      if (response.ok) {
        alert("Cập nhật thành công!");
        window.location.reload();
      } else {
        alert("Đã xảy ra lỗi khi cập nhật.");
      }
    } catch (error) {
      alert("Đã xảy ra lỗi khi cập nhật.");
      console.error(error);
    }
  }

</script>
