<%- include('../partials/header.ejs') %>

<div class="container mt-5" style="padding: 3%;">
  <h2>List Rooms</h2>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: aquamarine;">
        <th>Stt</th>
        <th>Name</th>
        <th>Movie</th>
        <th>Showtime</th>
        <th>Cinema</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="roomsTableBody">
      <% rooms.forEach((room, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= room.name %></td>
          
          <td><%= room.movie.name %></td>        
          <td>
            <ul>
              <% room.showtime.forEach(showtime => { %>
                <% Object.values(showtime.time).forEach(timeObj => { %>
                  <li><%= showtime.date %> - <%= timeObj.time %></li>
                <% }); %>
              <% }); %>
            </ul>
            
            
          </td>
          <td><%= room.cinema.name %></td>
          
          <td>
            <button class="btn btn-info" onclick="editRoom('<%= room._id %>')">Sửa</button>
            <button class="btn btn-danger" onclick="deleteRoom('<%= room._id %>')">Xoá</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<script>
  async function deleteRoom(roomId) {
    if (confirm('Bạn có chắc chắn muốn xoá?')) {
      try {
        const response = await fetch(`/cinema/deleteRoom/${roomId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (response.ok) {
          alert('Xoá thành công!');
          window.location.reload();
        } else {
          alert('Đã xảy ra lỗi khi xoá.');
        }
      } catch (error) {
        alert('Đã xảy ra lỗi khi xoá.');
        console.error(error);
      }
    }
  }

  function editRoom(roomId) {
    // Xử lý logic để hiển thị form sửa phòng chiếu (tương tự như editCinema)
    // Ví dụ:
    // window.location.href = `/edit-room/${roomId}`;
  }
</script>
