<%- include('../partials/header.ejs') %>

<div class="mt-5" style="margin: 8%; padding-top: 5%;">
  <h2>Movie Management</h2>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: aquamarine;">
        <th>Stt</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Subtitle</th>
        <th>Censorship</th>
        <th>Rate</th>
        <th>Release Date</th>
        <th>Image</th>
        <th style="width: 15%;">Trailer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% movies.forEach((movie, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= movie.name %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.subtitle %></td>
        <td><%= movie.censorship %></td>
        <td><%= movie.movie_format %></td>
        <td><%= movie.release_date %></td>
        <td><img src="http://139.180.132.97:3000/images/<%= movie.image %>" alt="Image" width="50"></td>
        <td>
          <video width="100%" height="100%" controls>
            <source src="http://139.180.132.97:3000/videos/<%= movie.trailer %>" width="50">
          </video>
        </td>
        <td>
          <!-- Chuyển hướng khi nhấn nút "Edit" -->
          <a class="btn btn-info" href="/movie/update/<%= movie._id %>">Edit</a>
          <button class="btn btn-danger" onclick="deleteMovie('<%= movie._id %>')">Delete</button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>


<script>
  async function deleteMovie(movieId) {
    if (confirm('Bạn có chắc chắn muốn xoá ?')) {
      try {
        const response = await fetch(`/movie/updateMovie/${movieId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (response.ok) {
          alert('Xoá  thành công!');
          window.location.reload();
        } else {
          alert('Đã xảy ra lỗi khi xoá .');
        }
      } catch (error) {
        alert('Đã xảy ra lỗi khi xoá .');
        console.error(error);
      }
    }
  }
</script>
