<%- include('../../partials/header.ejs') %>
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Quản lý vé</a></li>
    <li class="breadcrumb-item"><a href="/tickets/list">Danh sách vé</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chi tiết vé</li>
  </ol>
</nav>

<!-- Thông tin đơn hàng -->
<div class="card mb-3">
  <div class="card-body row">
    <div class="col-md-4">
      <h5 class="border-bottom pb-3 card-title">Thông tin đơn hàng</h5>
      <p class="d-flex mt-3">
        <strong>Mã đơn hàng:</strong>
        <a class="ms-2 nav-link text-primary" href=""><%= maDonHang %></a>
      </p>
      <p class="d-flex">
        <strong>Phim:</strong>
        <a class="ms-2 nav-link text-primary" href="#"><%= tenPhim %></a>
      </p>
      <p>
        <strong>Giờ chiếu:</strong>
        <span class="badge bg-warning text-dark"><%= gioChieu %></span>
      </p>
      <p><strong>Ngày chiếu:</strong> <%= ngayChieu %></p>
      <p><strong>Phòng chiếu:</strong> <%= phongChieu %></p>
      <p class="d-flex">
        <strong>Rạp chiếu:</strong>
        <a class="ms-2 nav-link text-primary" href="#"><%= rapChieu %></a>
      </p>
      <p><strong>Ngày đặt:</strong> <%= ngayDat %></p>
    </div>

    <!-- Thông tin khách hàng -->
    <div class="col-md-4">
      <h5 class="border-bottom pb-3 card-title">Thông tin khách hàng</h5>
      <p class="d-flex mt-3">
        <strong>Khách hàng:</strong>
        <a class="ms-2 nav-link text-primary" href="#"><%= khachHang[0] %></a>
      </p>
      <p><strong>Điện thoại:</strong> <%= khachHang[2] %></p>
      <p><strong>Email:</strong> <%= khachHang[1] %></p>
      <p>
        <strong>Trạng thái:</strong>
        <span class="badge bg-success p-2">Đã xác nhận</span>
      </p>
      <% for(let i = 0; i < seat.length; i += 2) { %> <% const totalAmount = seat .map((item, index) => { if
      (index % 2 !== 0) { return parseInt(item.replace(/,/g, '')); } return 0; }) .reduce((acc, curr) => acc +
      curr, 0); %> <% let thanhTien = totalAmount + totalFood %>
      <p><strong>Thành tiền:</strong> <%= thanhTien.toLocaleString("en-US") %></p>
      <% break %> <% } %> <% if(discount.length === 0) { %>
      <p><strong>Giảm giá:</strong> Không</p>
      <% } else { %>
      <p><strong>Giảm giá:</strong> <%= discount[0] %></p>
      <% } %>
      <p><strong>Tổng tiền:</strong> <%= tongTien %></p>
    </div>

    <!-- Thông tin mã khuyến mại -->
    <div class="col-md-4">
      <% if(discount.length === 0) { %>
      <h5 class="border-bottom pb-3 card-title">
        Mã khuyến mại: <strong class="text-success">Không</strong>
      </h5>
      <% } else { %>
      <h5 class="border-bottom pb-3 card-title">Mã khuyến mại: <strong class="text-success">Có</strong></h5>
      <p class="d-flex">
        <strong>ID Mã:</strong><a class="nav-link text-primary ms-1" href="#"><%= discount[1] %></a>
      </p>
      <p><strong>Tên mã giảm giá:</strong> <%= discount[2]%></p>
      <p><strong>Code:</strong> <%= discount[3]%></p>
      <p><strong>Loại:</strong> <%= discount[4]%></p>
      <% } %>
    </div>
  </div>
</div>
<!-- Ghế & Dịch vụ -->
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <h5 class="border-bottom pb-3 card-title">Ghế</h5>
      <table class="table mt-3 table-bordered">
        <thead class="table table-secondary">
          <tr>
            <th class="text-center">Thông tin ghế</th>
            <th class="text-center">Loại ghế</th>
            <th class="text-center">Giá tiền</th>
            <th class="text-center">Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < seat.length; i += 2) { %>
          <tr>
            <td class="text-center"><%= seat[i] %></td>
            <td class="text-center"><span class="badge bg-secondary p-2">Ghế thường</span></td>
            <td class="text-center"><%= seat[i + 1] %></td>
            <% if (i === 0) { %> <% const totalAmount = seat.map((item, index) => { if (index % 2 !== 0) {
            return parseInt(item.replace(/,/g, '')); } return 0; }) .reduce((acc, curr) => acc + curr, 0); %>
            <td class="text-center align-middle" rowspan="<%= seat.length / 2 %>">
              <%= totalAmount.toLocaleString("en-US") %>
            </td>
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
      <h5 class="border-bottom pb-3 card-title">Dịch vụ</h5>
      <table class="table table-bordered">
        <thead class="table table-secondary">
          <tr>
            <th class="text-center">Tên dịch vụ</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Đơn giá</th>
            <th class="text-center">Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < food.length; i += 3) { %>
          <tr>
            <td>
              <a class="nav-link text-primary" href="#"><%= food[i] %></a>
            </td>
            <td class="text-center"><%= food[i + 1] %></td>
            <td class="text-center"><%= food[i + 2].toLocaleString("en-US") %></td>
            <% let totalFood = food[i + 1] * food[i + 2] %>
            <td class="text-center"><%= totalFood.toLocaleString("en-US") %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
